
[mysqld]

plugin-load-add="group_replication.so"

default-authentication-plugin=mysql_native_password

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock


server_id=2
gtid_mode=ON
enforce_gtid_consistency=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
log_slave_updates=ON
log_bin=binlog
binlog_format=ROW

transaction_write_set_extraction=XXHASH64
loose-group_replication_group_name = "ec204297-e460-11e8-82e3-000c297b2588"
loose-group_replication_start_on_boot = OFF
loose-group_replication_local_address = "192.168.1.44:33061"
loose-group_replication_group_seeds = "192.168.1.34:33061,192.168.1.44:33061,192.168.1.43:33061"
loose-group_replication_bootstrap_group = OFF

super-read-only=on

report-host=192.168.1.44
report-port=3306

log_error_verbosity=6
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED, ARCHIVE,MEMORY"

group_replication_auto_increment_increment=1
group_replication_single_primary_mode=ON
group_replication_unreachable_majority_timeout=20

log_output=file
slow_query_log=ON
long_query_time=0
log_slow_admin_statements=ON
log_slow_slave_statements=ON

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
